@{
    ViewBag.Title = "Home Page";
}
<h3>Welcome to My Online Manager</h3>

    <h4> Bai tap lon mon Kiem thu phan mem</h4>
    <ul>

        <li>GV: Duong Huu Thanh</li>
        <li>Thanh vien:</li>
        <li>Nguyen Dac Quynh Nhu - 1554050067</li>
        <li>Nguyen Hoang Yen Oanh - 1554050068</li>
        <li>Nguyen Thi Hoang Oang - 1554050069</li>
    </ul>